@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Poppins", serif;
    overflow-x: hidden;  
}


.boxes{
        width: 350px;
        height: 400px;
        background: #b3b3fd;
        border-bottom-left-radius: 20px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transform: scale(1, 1);
        transition: 0.3s all ease-in-out;
}